*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "muli";
  
}

.wrapper {

    max-width:1140px;
    margin-right:auto;
    margin-left:auto;
}

body{
    background: url(/inspect/Protips/Design/Protips_New/Header/Oval.svg) no-repeat;
    background-position: top;
    background-position-x: 600px;
    background-position-y: -80px;

 
}
.nav__links li, a, button{
    font-family: "muli";
    font-size: 14px;
    color: white;
    text-decoration: none;

}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0px 20px;

}
.nav__links li a{
    transition: all 0.3s ease 0s;

}
.nav__links li a:hover{
    color: black;
}
.signUp {
    margin-left: 20px;
    padding:9px 25px;
    background-color:black;
    border: 2.5px;
    border-color:black;
    border-style: solid;

    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.signUp:hover{
    color:white;
    border-color:white;
    background: #FF4F4F;
    
}
.signIn {
    margin-left: 20px;
    padding:9px 25px;
background-color: #FF4F4F;
    border: 2.5px;
    border-color: white;
    border-style: solid;

    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.signIn:hover{
    color: black;
    border-color: black;
}
.button{
    margin-left: 20px;
    padding:9px 25px;
    background-color:rgba(255,79,79,1);
    border: none;

    cursor: pointer;
    transition: all 0.3s ease 0s;

}
.button:hover{
    background-color: rgba(255,79,79,0.8);
}

.openp{
   padding: 20px;
   border-radius: 5px;
   display: flex;
   flex-direction: row-reverse;
}
.openp .image{

    flex: 0 0 579px;
}
.openp .image img{
    max-width: 100%;
}
.openp .text{
    padding-right: 20px;
}
.openp .text h1{
margin: 10;
padding: 0;
}
.openp .text p{
    margin: 10;
    padding: 10px 0 0;
    text-align: justify;
}
p{
    
    font-size: 18px;
    color: #544837;
    text-decoration: none;
}
.heading{
       
    width: 331px;
    height:518px;
    margin: 0px,143px;
    padding: 0px 200px 0px 0px; 
}
.paragraph{
    padding: 20px 0px; 
}
.image{
    height:473px;
    width:579px;
    float: right;
   
}
.options  .images{
    list-style: none;

}
.options{
    width: 1200px;
    display: flex;
    justify-content: flex-start;
    margin-inline-start: 10%;
}
.options li{

color: black;
display: inline-block;
padding: 0px 20px;


}
.options h2{
    color:black;
}
.container {
    height: 224px ;

    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    
  
}

.options p{

   
    font-size: 15px;
    color: #544837;
}


  
 .about{


    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    display:flex;
    flex-direction:row;
    
}



.list{
    display:inline-block
}
.list li{
    list-style: none;
}
.icon:hover h2{
    cursor: pointer;
    color:#FF4F4F;
    transition: all 0.3s ease 0s;
}
.iconbutton{
    border:3px;
    padding:12.5px;
    border-color: #FF4F4F;
    border-style: solid;
    width: 50px;
    height: 50px;
    border-radius: 5px;

    
}
.iconimg{
    width: 20px;
    margin: auto;
    display: flex;
    background:transparent;
}

.iconbutton:hover{
    cursor: pointer;
    background-color: #FF4F4F;
    transition: all 0.3s ease 0;
}
.Knowmore{

        margin-left: 20px;
        padding:9px 25px;
    background-color: #FF4F4F;
        border: 2.5px;
        border-color:#FF4F4F;
        border-style: solid;
        cursor: pointer;
        transition: all 0.3s ease 0s;
}

    .Knowmore:hover{
        color: black;
        border-color:white;
}
.Watchvid{

    margin-left: 20px;
    padding:9px 25px;
background-color:white;
    border: 2.5px;
    border-color:white;
    border-style: solid;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color:#FF4F4F;
}
.Watchvid:hover{
    color: black;
    border-color:#FF4F4F;
}
.play{
    width: 15px;
    height: 15px;
    padding: 1px;

}
.head{
    color: #544837;
    font-family: "muli";
    font-size: 17px;
}
.buttons{
    padding:10px;
}
.footer{
    background-color: #FF4F4F;
    display:flex;
    flex-direction: column;
    position: bottom;
    width:100%;
}
.titles{
color:#544837;
font-size: 14px;
}
.titlerows{
  display: inline-flex;
  flex-direction: row;
}
.content, li{
color: #FF4F4F;
font-size: 12px;
}
.legal .pages .quicklinks{
    display: inline-block;
}